appnope==0.1.0
argon2-cffi==20.1.0
asgiref==3.2.3
astroid==2.3.3
async-generator==1.10
attrs==20.2.0
autopep8==1.5
backcall==0.2.0
bleach==3.2.1
certifi==2019.11.28
cffi==1.14.3
chardet==3.0.4
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20181111
Django==3.0.3
django-allauth==0.41.0
django-auth-ldap==2.2.0
django-autoslug==1.9.6
django-cors-headers==3.5.0
django-crispy-forms==1.8.1
django-extensions==2.2.6
django-gcharts==1.3
django-import-export==2.0.1
django-tables2-bootstrap4==2.0.0b5
djangorestframework==3.11.1
djangorestframework-jwt==1.11.0
entrypoints==0.3
et-xmlfile==1.0.1
ftfy==5.8
idna==2.8
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
isort==4.3.21
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.2
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.1
lazy-object-proxy==1.4.3
mailchecker==3.3.13
MarkupPy==1.14
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
nbclient==0.5.0
nbconvert==6.0.6
nbformat==5.0.7
nest-asyncio==1.4.0
notebook==6.1.4
numpy==1.18.1
oauthlib==3.1.0
odfpy==1.4.1
openpyxl==3.0.3
packaging==20.4
pandas==1.0.0
pandocfilters==1.4.2
parso==0.7.1
pexpect==4.8.0
phonenumbers==8.12.9
pickleshare==0.7.5
Pillow==7.0.0
plotly==4.5.2
prometheus-client==0.8.0
prompt-toolkit==3.0.7
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycparser==2.20
Pygments==2.7.1
PyJWT==1.7.1
pylint==2.4.4
pyparsing==2.4.7
pyrsistent==0.17.3
python-benedict==0.18.2
python-dateutil==2.8.1
python-ldap==3.3.1
python-slugify==4.0.1
python3-openid==3.1.0
pytz==2019.3
PyYAML==5.3
pyzmq==19.0.2
requests==2.22.0
requests-oauthlib==1.3.0
retrying==1.3.3
Send2Trash==1.5.0
six==1.14.0
sqlparse==0.3.0
tablib==0.14.0
terminado==0.9.1
testpath==0.4.4
text-unidecode==1.3
todoist==0.0.1
todoist-python==8.1.1
toml==0.10.1
tornado==6.0.4
traitlets==5.0.4
urllib3==1.25.8
wcwidth==0.2.5
webencodings==0.5.1
wrapt==1.11.2
xlrd==1.2.0
xlwt==1.3.0
xmltodict==0.12.0
